<div class="container">
  <div class="row">       
    <div class="col-md-4">
<img src="https://pbs.twimg.com/profile_images/74188698/NeilTysonOriginsA-Crop_400x400.jpg" height=90% width=90% alt="Carl Sagan">
</div>
    <div class="col-md-5">
      <h2 class="inline"><a href="https://www.facebook.com/neildegrassetyson">Neil deGrasse Tyson</a></h2> <p class=inline>Member since 1990</p>   </div>
      <div class="col-md-6">
         <p>Neil deGrasse Tyson (born October 5, 1958) is an American astrophysicist, author, and science communicator. He is currently the Frederick P. Rose Director of the Hayden Planetarium at the Rose Center for Earth and Space and a research associate in the department of astrophysics at the American Museum of Natural History. From 2006 to 2011, he hosted the educational science television show NOVA ScienceNow on PBS and has been a frequent guest on The Daily Show, The Colbert Report, and Real Time with Bill Maher. Since 2009, he has hosted the weekly radio show StarTalk. In 2014, Tyson began hosting Cosmos: A Spacetime Odyssey, an update to Carl Sagan's Cosmos: A Personal Voyage (1980) television series.</p> <p><b>Location:</b> Manhattan</p>
        <p> <b>Completion:</b></p>
        <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
    80%
  </div>
</div>
    </div>
      </div>
 </div>

     
  