<div class="container">
  <div class="row">       
    <div class="col-md-4">
<img src="<>" alt="Carl Sagan">
</div>
    <div class="col-md-5">
      <h2 class="inline"><a href="https://www.facebook.com/pages/Carl-Sagan/7062124866">Carl Sagan </a></h2> <p class=inline>Member since 1970</p>   </div>
      <div class="col-md-6">
         <p>Carl Edward Sagan was an American astronomer, astrophysicist, author, cosmologist, science popularizer and science communicator in astronomy and natural science. His contributions were central to the discovery of the high surface temperatures of venus. However, he is best known for his contributions to the scientific research of extraterestrial life, including experimental demonstration of the production of amino acids from basic chemicals by radiation.</p> <p><b>Location:</b> Brooklyn</p>
        <p> <b>Completion:</b></p>
        <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
    95%
  </div>
</div>
    </div>
      </div>
 </div>

     
  