<div class="container">
  <div class="row">       
    <div class="col-md-4">
<img src="http://www.csindy.com/binary/5614/1341616379-screen_shot_2012-07-06_at_5.07.55_pm.png" height=90% width=90% alt="Carl Sagan">
</div>
    <div class="col-md-5">
      <h2 class="inline"><a href="https://www.facebook.com/billnye">Bill Nye</a> </h2> <p class=inline>Member since 1985</p>   </div>
      <div class="col-md-6">
         <p>William Sanford "Bill" Nye (born November 27, 1955), popularly known as Bill Nye the Science Guy, is an American science educator, comedian, television host, actor, writer, and scientist who began his career as a mechanical engineer at Boeing. He is best known as the host of the Disney/PBS children's science show Bill Nye the Science Guy (1993–98) and for his many subsequent appearances in popular media as a science educato</p> <p><b>Location:</b> Los Angeles</p>
        <p> <b>Completion:</b></p>
        <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
    70%
  </div>
</div>
    </div>
      </div>
 </div>